.swicher {
  border-bottom: 1px #e5e5e5 solid;  
  width: 100%;
  height: 60px;

  .container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;

    .leftBlock {
      display: flex;

      .item {
        margin-left: 20px;
        cursor: pointer;
        padding: 20px 0px 20px 0px;
      }
      .item:first-child {
        margin-left: 0px;
        border-bottom: 2px #ffa31a solid;
      }
      .item:hover {
        transition: 0.8s;
        color: #ffa31a;
      }
    }

    .rightBlock {
      display: flex;
      align-items: center;

      .createInput {
        text-align: center;
        padding: 20px 0px 20px 0px;
        cursor: pointer;
        width: 100px;
        //background-color: #ffa31a;
        color: #ffa31a;
        font-weight: 600;
      }

      .item {
        margin-left: 20px;
        cursor: pointer;
        padding: 20px 0px 20px 0px;
      }
      .item:first-child {
        margin-left: 0px;
      }
      .item:hover {
        transition: 0.8s;
        color: #ffa31a;
      }
    }
  }
}